body {
    margin: 0px;
    background-color: rgb(6, 20, 35);
}

/*######################################################################################*/

/*                                     CABEÇALHO                                        */
.div_cabecalho {
    background-color: rgb(4, 34, 65);
    color: rgb(90, 180, 240);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 190px;
}

.cabecalho_logo {
    margin-top: 30px;
}

.cabecalho_nome_empresa {
    margin-bottom: 30px;
}

/*######################################################################################*/

/*                                     MENU                                             */
.div_menu {
    background-color: rgb(5, 73, 119);
    height: 50px;
    text-align: center;
}

.menu_btn {
    color:rgb(90, 180, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    margin-right:  40px;
    margin-top: 10px;
    text-decoration: none;
    background-color:  rgb(5, 73, 119);
    border: none; /*Retirei as bordas do Menu*/
    cursor: pointer; /*Ponteira Mouse "mãozinha"*/
}

.menu_btn:hover {
    color: white; /* Troca de cor ao passar mouse por cima */
}

/*######################################################################################*/

/*                                     DIVS CENTRAIS                                             */
.divs_centrais { /* Classe usada para configurar as divs centrais */
    background-color: rgb(6, 24, 45);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    height: 200px;
    margin: 0 auto; /* Usado para direcionar os elementos ao centro da tela */
    margin-top: 50px;
    border-radius: 10px ;
}

.divs_centrais_logo { 
    text-align: center;
    padding: 20px;
}

.divs_centrais_texto {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(90, 180, 240); 
}

/*######################################################################################*/

/*                                     DIVS MAIORES INFORMAÇÕES                                 */
#div_mais_informacoes { /* ID usado para configurar a div maiores informações */
    background-color: rgb(0, 60, 100);
    margin-top: 50px;
    height: 300px;
}

.texto_mais_informacoes {
    padding: 30px; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
}

.btn_info {
    background-color: rgb(90, 180, 240);
    color: white;
    font-weight: bold;
   display: block;
   margin: 0 auto; /* Usado para direcionar os elementos ao centro da tela */
   margin-bottom: 15px;
   width: 190px;
   height: 45px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

.btn_info:hover {
    background-color: white;
    color:black;
}

/*######################################################################################*/

/*                                     DIV RODAPE                               */
.div_rodape {
    padding-top: 90px; /* É dessa forma que realizamos o deslocamento do elemento dentro da DIV */
    height: 50px;
    text-align: center;
}

.texto_rodape {
    color: gray;
}
