/* --------------- Configuração base das páginas --------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

/*------------------------------------------------------------*/

/* --------------- Classes de uso Geral  ---------------  */
.textos-centralizados {
    text-align: center;
}

.margin-top-40 {
    margin-top: 40px;
}

/*------------------------------------------------------------*/

/* --------------- Container: Cabeçalho  ---------------  */
.container-cabecalho {
    text-align: center;
    padding: 20px;
    background-color: #04233F;
}

.container-cabecalho h3 {
    /*Título da página*/

    /* Isso significa que todos os h3 contidos dentro do elemento pai,
 terão o CSS abaixo aplicado */
    font-weight: 600;
    font-size: 2em;
    color: #1190FF
}

/*------------------------------------------------------------*/

/* --------------- Container: MENU  ---------------  */
.container-menu {
    text-align: center;
    padding: 20px;
    background-color: #06345D;
}

.container-menu button {
    font-size: 1.5em;
    margin: 0px 50px;
    text-decoration: none;
    background-color: #06345D;
    color: #7CC2FF;
    border: none;
    cursor: pointer;
}

.container-menu button:hover {
    color: white;
}

/*------------------------------------------------------------*/

/* --------------- Container: QUEM SOMOS  ---------------  */

.container-quem-somos {
    background-color: #05192A;
    overflow: auto;
}

.container-quem-somos .servicos {
    float: center;
    margin: 60px auto;
    background-color: #061F35;
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.container-quem-somos .servicos .icone {
    margin-bottom: 10px;
}

.container-quem-somos .servicos-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1.2em;
    color: #81C4FF;
}


/*------------------------------------------------------------*/

/* --------------- Container: MAIS INFORMAÇÕES  ---------------  */

.container-mais-informacoes {
    background-color: #082946;
    padding: 80px;
    text-align: center;
}

.container-mais-informacoes .mais-info-botoes {
    padding: 60px;
    text-align: center;
}

.mais-info-botoes button {
    display: block;
    width: 300px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #008EB9;
    color: white;
    padding: 20px 60px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.mais-info-botoes button:hover {
    background-color: white;
    color: black;
}

/*------------------------------------------------------------*/

/* --------------- Container: RODAPE  ---------------  */

.rodape {
    text-align: center;
    padding: 80px;
    background-color: #02111F;
    color: gray;
}

/*------------------------------------------------------------*/

/* --------------- Container: SERVIÇOS  ---------------  */

.container-servicos {
    background-color: #05192A;
    font-size: 1.1em;
    padding: 60px;
    overflow: auto;
}

.container-servicos h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.container-servicos h3 {
    color: #2097FF;
    padding: 20px 0;
}

.container-servicos article {
    /*Formatando os Articles*/
    width: 40%;
    margin: auto;
    float: center;
}

.container-servicos li {
    /*Formatando os li*/
    margin-bottom: 20px;
    margin-left: 50px;
    color: white;
}

/*------------------------------------------------------------*/

/* --------------- Container: CONTATOS  ---------------  */
.container-contatos {
    background-color: #05192A;
    padding: 80px;
}

.container-contatos h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}

.container-contatos h3 {
    font-size: 1.5em;
    font-weight: 100;
    width: 25%;
    margin: auto;
    color: white;
    margin-bottom: 20px;
    border: 1px solid #105088;
    background-color: #08253F;
    border-radius: 10px;
    padding: 20px;
}

.container-contatos .contatos {
    display: block;
    /*Para alinhar na vertical*/
    font-size: 2em;
    text-decoration: none;
    color: #00A2FF;
    margin-bottom: 20px;
}